@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: calc(3rem + 2vw);
  --background: #35363b;
  --background-fade: hsl(228, 5%, 25%);
  --text: #e2e2e2;
  --primary: #82c995;
  --pink: #ef5d60;
  --purple: #ae6b9c;
}

html {
  color-scheme: light dark;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #f6e8ea;
    --text: #35363b;
  }
} */

*:focus-visible {
  outline: 2px solid var(--pink);
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.header {
  height: var(--header-height);
  padding: calc(var(--header-height) * 0.2);
}

.logo-wrapper {
  height: 100%;
}

img {
  height: 100%;
}

main {
  margin: 20px min(50px, 5vw);
}

.search-results {
  width: 100%;
  margin: 16px;
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(200px + 3vw), 1fr));
  gap: 16px;
}

.search-results--item {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
  /* font-size: 0.8rem; */
  font-weight: 300;
  height: fit-content;
  container: search / inline-size;
}

@container search (min-width: 0px) {
  .search-results--item-contents {
    --icon: clamp(20px, 1.3rem + 1cqw, 15cqw);
    height: 125cqw;
    font-size: min(calc(16px + 1cqw), 1.1rem);
  }

  .search-results--item-name {
    font-size: min(calc(20px + 1cqw), 2rem);
    text-wrap: balance;
    line-height: 1.1
  }

  .release-date .rest {
    font-size: min(calc(14px + 1cqw), 1rem);
  }

  .biote-ranker {
    margin-top: calc(var(--icon) * 0.2);
    height: var(--icon);
  }

  .backlog-button {
    margin: calc(var(--icon) * 0.2);
    height: calc(var(--icon) * 1.2);
  }

  .meta-score {
    font-size: min(calc(14px + 1cqw), 0.8rem);
  }

  .search-results--item:hover .meta-score {
    font-size: min(calc(16px + 1cqw), 1.1rem);
  }
}

.search-results--item:hover {
  background-color: var(--background-fade);
}

.search-results--item-name {
  font-weight: 400;
}

.release-date {
  display: flex;
  gap: 0.3em;
}

.release-date:hover .rest-wrapper {
  grid-template-columns: 1fr;
}

.rest-wrapper {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns 0.2s;
}

.release-date .rest {
  overflow: hidden;
}

.release-date .rest span {
  white-space: nowrap;
}

.search-results--image-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 8px;
}

.search-results--item img {
  width: 100%;
  height: auto;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  max-width: 1000px;
  padding: 6px;
  border-radius: 50vw;
  position: relative;
}

.search-form:hover {
  background-color: var(--background-fade);
}

.search-form--contents {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  position: relative;
  /* height: clamp(1.5rem, 20px + 2vw, 3rem); */
  --height: clamp(1rem, 20px + 2vw, 2.5rem);
  --button-size: max(1rem, var(--height));
}

.search-form label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: text;
  top: 0;
  left: 0;
}

.search-form--contents::before,
.search-form--contents::after {
  content: '';
  position: absolute;
  pointer-events: none;
  height: 2px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 50vw;
}

.search-form--contents::before {
  width: 95%;
  background-color: var(--primary);
}

.search-form--contents::after {
  background-color: var(--text);
  width: 0;
  transition: 0.5s;
}

.search-form--contents:has(.search:focus)::after {
  width: 95%;
}

@keyframes searching {
  0% {
    width: 0%;
  }
  50% {
    margin-inline: 2.5% auto;
    width: 95%;
  }
  51% {
    margin-inline: auto 2.5%;
  }
  100% {
    margin-inline: auto 2.5%;
    width: 0%;
  }
}

.search-form--contents:has(.search.searching)::after {
  margin-inline: 2.5% auto;
  animation-name: searching;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

input.search {
  text-align: center;
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--text);
  color: var(--primary);
  /* font-size: clamp(0.8rem, 14px + 2vw, 1.5rem); */
  transition: font-size 0.5s, font-weight 0.5s, width 0.5s;
  font-weight: 300;
  height: var(--height);
  font-size: max(0.9rem, calc(var(--height) * 0.6));
  width: calc(97.5% - (var(--button-size)));
  text-indent: var(--button-size);
}

.search:focus {
  font-weight: 400;
  outline: none;
  color: var(--text);
  width: calc(97.5% - (var(--button-size) - 2.5%));
  /* font-size: clamp(1rem, 16px + 2vw, 2rem); */
  font-size: max(1rem, calc(var(--height) * 0.9));
}

input.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: calc(var(--button-size) * 0.9);
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  background-image: url('./assets/icons/close.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: var(--background);
}

.search-form:hover input.search::-webkit-search-cancel-button {
  background-color: var(--background-fade);
}

input.search::-webkit-search-cancel-button:hover {
  outline: 1px solid var(--text);
}

input:-webkit-autofill:focus,
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 40rem var(--background) inset;
  font-family: inherit;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary);
}

.search-form:hover input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 40rem var(--background-fade) inset;
}

.search-button {
  top: 0;
  bottom: 0;
  right: 2.5%;
  margin-block: auto;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  height: var(--button-size);
  width: var(--button-size);
  padding: calc(var(--button-size) * 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s;
}

.search-button:hover {
  background-color: var(--background);
}

.search-button img {
  width: 100%;
}

.search-form--contents:has(.search:focus) .search-button {
  right: 0;
}

.search-results--item:hover .platform-icon-container {
  opacity: 0.2;
}

.platform-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 3px;
  /* background-color: var(--text); */
  opacity: 0;
  width: fit-content;
  border-radius: 50vw;
  padding: 2px 8px;
}

.search-results--item:hover .platform-icon-container:hover {
  opacity: 1;
}

.platform-icon {
  height: 100%;
}

.platform-icon img {
  height: 100%;
}

.meta-score {
  opacity: 0.8;
  font-weight: 800;
  padding: 3px;
  color: white;
  /* font-size: min(1rem, 18px); */
  width: fit-content;
  letter-spacing: 0.05em;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  /* scale: 0.6; */
  transition: 0.1s;
  /* box-shadow: 1px 1px 5px black; */
}

.search-results--item:hover .meta-score {
  opacity: 1;
  box-shadow: 1px 1px 5px black;
  /* scale: 1; */
  /* font-size: min(1.5rem, 24px); */
}

.biote-ranker {
  /* height: 100%; */
  /* max-height: 30px; */
  display: flex;
  width: fit-content;
  transition: opacity 0.1s;
}

@keyframes temp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.temp {
  opacity: 0.8;
}

.temp .rank-biote {
  --delay: 0.1s;
  animation-name: temp;
  animation-direction: alternate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.temp .rank-biote:nth-of-type(2) {
  animation-delay: calc(var(--delay));
}
.temp .rank-biote:nth-of-type(3) {
  animation-delay: calc(var(--delay) * 2);
}
.temp .rank-biote:nth-of-type(4) {
  animation-delay: calc(var(--delay) * 3);
}
.temp .rank-biote:nth-of-type(5) {
  animation-delay: calc(var(--delay) * 4);
}

.biote-ranker form {
  display: flex;
}

.rank-biote {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
}

.rank-biote .rank-button {
  flex-grow: 1;
}

.rank-biote .rank-biote-img {
  height: 100%;
  position: absolute;
}

.backlog-button img {
  height: 100%;
}
