@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: calc(3rem + 2vw);
  --background: #35363b;
  --background-transparent: #35363b93;
  --background-fade: hsl(228, 5%, 25%);
  --text: #e2e2e2;
  --sub-text: hsl(0, 0%, 75%);
  --primary: hsl(136, 40%, 65%);
  --primary-dark: hsl(136, 40%, 45%);
  --pink: #ef5d60;
  --purple: #ae6b9c;
}

html {
  color-scheme: light dark;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #f6e8ea;
    --text: #35363b;
  }
} */

*:focus-visible {
  outline: 2px solid var(--pink);
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.header {
  height: var(--header-height);
  padding: calc(var(--header-height) * 0.2);
  padding-inline: min(4vw, calc(var(--header-height) * 0.5));
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--primary);
}

.user-nav {
  grid-area: 1 / 3 / 2 / 4;
}

.header .search-form--contents {
  --height: calc(var(--header-height) * 0.5);
}

.logo-wrapper {
  width: calc(80px + 10vw);
  transition: 0.5s;
}

.logo-wrapper img {
  width: 100%;
}

.user-button {
  font-size: calc(1rem + 0.5vw);
  height: calc(var(--header-height) * 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--header-height) * 0.1);
  color: var(--primary);
  padding: 5% 10%;
  border-radius: 50vw;
  max-width: 25vw;
  overflow: hidden;
  border: 1px solid transparent;
}

.user-button:hover {
  background-color: var(--background-fade);
  border: 1px solid var(--primary);
}

.user-button .avatar-container {
  height: 90%;
}

.user-button .avatar-container img {
  height: 100%;
}

main {
  margin: 20px min(50px, 5vw);
}

.search-results {
  width: 100%;
  margin: 16px;
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(200px + 3vw), 1fr));
  gap: 16px;
}

.search-results--item {
  position: relative;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  /* font-size: 0.8rem; */
  font-weight: 300;
  height: fit-content;
  container: search / inline-size;
  --button-background: var(--background);
}

.search-results--link {
  text-decoration: none;
  appearance: none;
  color: var(--text);
}

.search-results--link:hover {
  text-decoration: underline;
}

.backlog-button {
  aspect-ratio: 1.25 / 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  transition: opacity 0.2s;
  background-color: var(--button-background);
}

.backlog-img-wrapper {
  height: 100%;
  width: auto;
  position: relative;
}

@keyframes swirl {
  0% {
    rotate: 0deg;
    scale: 1;
  }

  50% {
    rotate: 360deg;
    scale: 0.8;
  }

  100% {
    rotate: 720deg;
    scale: 0;
  }
}

@keyframes counter-rotate {
  0% {
    scale: 0;
    rotate: 360deg;
  }
  10% {
    scale: 1;
  }

  50% {
    rotate: 0deg;
  }

  100% {
    rotate: -360deg;
  }
}

.biote-swirl-wrapper {
  --duration: 1.3s;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  animation-name: swirl;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.backlogged .biote-swirl-wrapper {
  animation-direction: reverse;
  margin-left: auto;
}

.biote-swirl-wrapper .biote-swirl {
  width: calc(var(--icon) * 0.7);
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
  animation-name: counter-rotate;
  animation-duration: var(--duration);
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.backlogged .biote-swirl {
  animation-direction: reverse;
}

@container search (min-width: 0px) {
  .search-results--item-contents {
    --icon: clamp(20px, 1.3rem + 1cqw, 15cqw);
    min-height: 110cqw;
    font-size: min(calc(16px + 1cqw), 1.1rem);
  }

  .search-results--item-name {
    font-size: min(calc(20px + 1cqw), 2rem);
    text-wrap: balance;
    line-height: 1.1;
  }

  .release-date .rest {
    font-size: min(calc(14px + 1cqw), 1rem);
  }

  .search-results--item-contents .biote-ranker {
    margin-top: calc(var(--icon) * 0.2);
    height: var(--icon);
  }

  .backlog-button-container {
    position: absolute;
    right: 5cqw;
    bottom: 5cqw;
  }

  .backlog-button {
    margin: calc(var(--icon) * 0.2);
    height: calc(var(--icon) * 1.2);
  }

  .meta-score {
    font-size: min(calc(14px + 1cqw), 0.8rem);
  }

  .search-results--item:hover .meta-score {
    font-size: min(calc(16px + 1cqw), 1.1rem);
  }
}

.search-results--item .backlog-button-container:not(.backlogged) {
  display: none;
}

.search-results--item:hover .backlog-button-container {
  display: block;
}

.search-results--item:hover {
  background-color: var(--background-fade);
  --button-background: var(--background-fade);
}

.search-results--item-name {
  font-weight: 400;
}

.release-date {
  display: flex;
  gap: 0.3em;
}

.release-date:hover .rest-wrapper {
  grid-template-columns: 1fr;
}

.rest-wrapper {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns 0.2s;
}

.release-date .rest {
  overflow: hidden;
}

.release-date .rest span {
  white-space: nowrap;
}

.search-results--image-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 8px;
  position: relative;
}

.search-results--item img {
  width: 100%;
  height: auto;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  max-width: 1000px;
  padding: 6px;
  border-radius: 50vw;
  position: relative;
}

.search-form:hover {
  background-color: var(--background-fade);
}

.search-form--contents {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  position: relative;
  /* height: clamp(1.5rem, 20px + 2vw, 3rem); */
  --height: clamp(1rem, 20px + 2vw, 2.5rem);
  --button-size: max(1rem, var(--height));
}

.search-form label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: text;
  top: 0;
  left: 0;
}

.search-form--contents::before,
.search-form--contents::after {
  content: '';
  position: absolute;
  pointer-events: none;
  height: 2px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 50vw;
}

.search-form--contents::before {
  width: 95%;
  background-color: var(--primary);
}

.search-form--contents::after {
  background-color: var(--text);
  width: 0;
  transition: 0.5s;
}

.search-form--contents:has(.search:focus)::after {
  width: 95%;
}

@keyframes searching {
  0% {
    width: 0%;
  }
  50% {
    margin-inline: 2.5% auto;
    width: 95%;
  }
  51% {
    margin-inline: auto 2.5%;
  }
  100% {
    margin-inline: auto 2.5%;
    width: 0%;
  }
}

.search-form--contents:has(.search.searching)::after {
  margin-inline: 2.5% auto;
  animation-name: searching;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

input.search {
  text-align: center;
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--text);
  color: var(--primary);
  /* font-size: clamp(0.8rem, 14px + 2vw, 1.5rem); */
  transition: font-size 0.5s, font-weight 0.5s, width 0.5s;
  font-weight: 300;
  height: var(--height);
  font-size: max(0.9rem, calc(var(--height) * 0.6));
  width: calc(97.5% - (var(--button-size)));
  text-indent: var(--button-size);
}

.search:focus {
  font-weight: 400;
  outline: none;
  color: var(--text);
  width: calc(97.5% - (var(--button-size) - 2.5%));
  /* font-size: clamp(1rem, 16px + 2vw, 2rem); */
  font-size: max(1rem, calc(var(--height) * 0.9));
}

input.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: calc(var(--button-size) * 0.9);
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  background-image: url('./assets/icons/close.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: var(--background);
}

.search-form:hover input.search::-webkit-search-cancel-button {
  background-color: var(--background-fade);
}

input.search::-webkit-search-cancel-button:hover {
  outline: 1px solid var(--text);
}

input:-webkit-autofill:focus,
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 40rem var(--background) inset;
  font-family: inherit;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary);
}

.search-form:hover input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 40rem var(--background-fade) inset;
}

.search-button {
  top: 0;
  bottom: 0;
  right: 2.5%;
  margin-block: auto;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  height: var(--button-size);
  width: var(--button-size);
  padding: calc(var(--button-size) * 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s;
}

.search-button:hover {
  background-color: var(--background);
}

.search-button img {
  width: 100%;
}

.search-form--contents:has(.search:focus) .search-button {
  right: 0;
}

.platform-icon-container {
  display: flex;
  align-items: center;
  width: fit-content;
  position: absolute;
  background-color: var(--background-transparent);
}

.search-results--item .platform-icon-container {
  top: 0;
  right: 0;
  height: 1.5rem;
  gap: 3px;
  border-radius: 0 0 0 50vw;
  padding: 2px 8px;
}

/* 
.search-results--item:hover .platform-icon-container {
  opacity: 0.2;
}

.search-results--item:hover .platform-icon-container:hover {
  opacity: 1;
} */

.platform-icon {
  height: 100%;
}

.platform-icon img {
  height: 100%;
}

.meta-score {
  opacity: 0.8;
  font-weight: 800;
  padding: 3px;
  color: white;
  /* font-size: min(1rem, 18px); */
  width: fit-content;
  letter-spacing: 0.05em;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  /* scale: 0.6; */
  transition: 0.1s;
  /* box-shadow: 1px 1px 5px black; */
}

.search-results--item:hover .meta-score {
  opacity: 1;
  box-shadow: 1px 1px 5px black;
  /* scale: 1; */
  /* font-size: min(1.5rem, 24px); */
}

.biote-ranker {
  /* height: 100%; */
  /* max-height: 30px; */
  display: flex;
  width: fit-content;
  transition: opacity 0.1s;
}

@keyframes temp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.temp .rank-biote {
  --delay: 0.1s;
  animation-name: temp;
  animation-direction: alternate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.temp .biote-wrapper:nth-of-type(2) .rank-biote {
  animation-delay: var(--delay);
}
.temp .biote-wrapper:nth-of-type(3) .rank-biote {
  animation-delay: calc(var(--delay) * 2);
}
.temp .biote-wrapper:nth-of-type(4) .rank-biote {
  animation-delay: calc(var(--delay) * 3);
}
.temp .biote-wrapper:nth-of-type(5) .rank-biote {
  animation-delay: calc(var(--delay) * 4);
}

@keyframes jump {
  0% {
    translate: 0;
  }

  50% {
    translate: 0 -20%;
    opacity: 0.8;
  }

  100% {
    translate: 0;
  }
}

.jump.biote-wrapper {
  --delay: 50ms;
  animation-name: jump;
  animation-duration: 0.2s;
  /* animation-timing-function: linear; */
}

.jump.biote-wrapper:nth-of-type(2) {
  animation-delay: var(--delay);
}
.jump.biote-wrapper:nth-of-type(3) {
  animation-delay: calc(var(--delay) * 2);
}
.jump.biote-wrapper:nth-of-type(4) {
  animation-delay: calc(var(--delay) * 3);
}
.jump.biote-wrapper:nth-of-type(5) {
  animation-delay: calc(var(--delay) * 4);
}

.biote-ranker form {
  display: flex;
}

.rank-biote {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
}

.rank-biote .rank-button {
  flex-grow: 1;
}

.rank-biote .rank-biote-img {
  height: 100%;
  position: absolute;
}

.backlog-button img {
  height: 100%;
}

.game-info-page {
  margin-inline: auto;
  --height: min(calc(1rem + 1vw), 30px);
  display: flex;
  flex-wrap: wrap;
  gap: calc(16px + 2vw);
  /* align-items: center; */
  justify-content: center;
}

.game-info-page .game-info {
  max-width: 1000px;
  flex-basis: max(60vw, 600px);
}

.game-info-page .platform-icon-container {
  height: var(--height);
  padding: calc(var(--height) * 0.3);
  padding-right: calc(var(--height) * 0.5);
  border-radius: 0 50vw 0 0;
  box-sizing: content-box;
  bottom: 0;
  left: 0;
}

.game-info-page .title-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: calc(var(--height) * 0.75);
  font-size: var(--height);
}

.title-container .platform-icon-container {
  height: var(--height);
}

.game-info-page .img-container {
  margin-top: calc(var(--height) * 0.2);
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-info-page .img-container .bg-img {
  width: 100%;
  height: auto;
}

.description {
  color: var(--sub-text);
  /* width: 50%; */
  /* min-width: min(500px, 100%); */
}

.description-contents {
  position: relative;
}

.fade {
  overflow: hidden;
  position: relative;
  height: 4.8em; /* exactly three lines */
}

.fade::after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--background) 50%
  );
}

.description .description-expansion-button {
  width: 7.5em;
  border: 1px solid var(--sub-text);
  /* padding: 0 1em; */
  color: var(--text);
  border-radius: 50vw;
  opacity: 0.5;
}

.description:has(.fade) .description-expansion-button {
  position: absolute;
  top: 4.3em;
  right: calc(35% - 7.5em);
}

.description .description-expansion-button:hover {
  opacity: 1;
}

.game-info-box {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  gap: 1em;
}

.game-info-box .title {
  font-size: 1.1rem;
  color: var(--text);
}

.game-info-box--small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* display: flex;
  flex-wrap: wrap; */
  gap: 20px;
  color: var(--sub-text);
  align-content: flex-start;
}

.small-item-container {
  width: fit-content;
}

.small-item-container div:nth-of-type(2) {
  width: fit-content;
  margin-inline: auto;
}

.game-info-box--small .esrb {
  width: calc(40px + 0.5vw);
  height: auto;
}

.game-info-box--small .metascore {
  font-weight: 800;
  font-size: calc(1rem + 0.5vw);
  padding: 0.3em;
  width: fit-content;
  border-radius: 10%;
  color: white;
}

.title--sub {
  color: var(--text);
  margin-bottom: 0.2em;
}

.list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.list-box .list-item {
  color: var(--sub-text);
  font-size: 0.9rem;
  padding: 0.3em;
  background-color: var(--background-fade);
  border-radius: 0.5em;
}

.game-info-box--lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.user-game-data {
  /* flex-grow: 1; */
  align-self: flex-start;
  background-color: var(--background-fade);
  padding: calc(16px + 2vw);
  color: var(--primary);
  /* margin-block: auto; */
  --icon: calc(40px + 0.5vw);
}

.user-game-data .biote-ranker {
  height: var(--icon);
}

.review {
  display: flex;
  flex-direction: column;
}

#review {
  font-family: inherit;
  font-size: 100%;
  padding: 8px;
  color: var(--primary);
  appearance: none;
  background-color: var(--background-fade);
  border: 1px solid var(--primary);
  height: 6rem;
  max-width: 800px;
  resize: vertical;
  border-radius: 3px;
}

#review:focus {
  color: var(--text);
}

#review:focus-visible {
  outline: 1px solid var(--primary);
}

.review-form {
  position: relative;
}

.review-submit-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
}

.review-submit {
  position: relative;
  background-color: var(--primary);
  color: var(--background);
  padding: 4px 8px;
  font-weight: 600;
  letter-spacing: 0.05em;
  overflow: hidden;
  isolation: isolate;
  transition: background-color 0.2s;
}

@keyframes processingGrow {
  from {
    scale: 0;
  }

  to {
    scale: 1.5;
  }
}

.review-submit.processing::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.8;
  animation-name: processingGrow;
  animation-duration: 1s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* border: 1px solid var(--background-fade); */
  background: radial-gradient(
    transparent,
    60%,
    var(--primary-dark),
    transparent
  );
  z-index: -1;
}

.user-game-data > *:not(:first-child) {
  margin-top: 1em;
}

.user-game-data .backlog-button {
  height: var(--icon);
  padding: calc(var(--icon) * 0.1);
  border-radius: 4px;
  --button-background: var(--background-fade);
  background-color: var(--button-background);
}

@keyframes processing {
  from {
    translate: -100%;
  }
  to {
    translate: 100%;
  }
}

.processing-animation-wrapper {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.processing-animation {
  opacity: 0.8;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    10%,
    var(--button-background),
    90%,
    transparent
  );
  animation-name: processing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.user-game-data .backlog-button:hover {
  --button-background: var(--background);
}

.slider-button {
  width: calc(var(--icon) * 0.4);
  height: var(--icon);
  padding: calc(var(--icon) * 0.1);
  /* align-self: flex-end; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 4px;
}

.slider-button:hover {
  background-color: var(--background);
}

.slider-button img {
  display: block;
  width: 100%;
  rotate: 180deg;
  transition: rotate 0.2s;
}

.slider-button.open img {
  rotate: 90deg;
}

.slider {
  z-index: 1;
  position: absolute;
  background-color: var(--background);
  top: 100%;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 1px 1px 5px black;
}

.slider-number {
  background-color: var(--background);
  appearance: none;
  border: none;
  font-family: inherit;
  color: var(--purple);
  margin-left: auto;
  display: block;
  padding: 4px;
  border-radius: 4px;
}

.slider-number:focus-visible {
  outline: 1px solid var(--purple);
}

.slider-number::selection {
  background-color: var(--background-fade);
  color: var(--text);
}

.block-container {
  display: grid;
  width: 100%;
  height: var(--icon);
  grid-template-columns: repeat(100, 1fr);
  /* gap: 0.5px; */
}

.slider-block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider-block-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 0.5px; */
}

.slider-block-img {
  width: 100%;
  display: block;
}

.user-game-data .title {
  margin-bottom: 0.3em;
  width: fit-content;
}

.user-game-data .title {
  position: relative;
}

.title .value-display {
  position: absolute;
  left: calc(100% + 8px);
  bottom: 0;
  width: max-content;
  background-color: var(--primary);
  color: var(--background);
  padding: 0 3px;
  font-size: 0.9rem;
  border-radius: 4px;
  display: none;
}

.user-game-data--item {
  width: min(100vw, 300px);
}

.user-game-data--item:hover .value-display {
  display: block;
}

.review-submit:has(img.update-biote) {
  /* background-color: var(--primary-dark); */
}

@keyframes bioteRunner {
  from {
    right: 100%;
  }

  to {
    left: 100%;
  }
}

.update-biote-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation-name: processing;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: -1;
  animation-fill-mode: both;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-dark),
    transparent
  );
}

.update-biote {
  height: 100%;
  width: auto;
  margin-inline: auto;
}

.backlog-button-container {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
}
