@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: calc(3rem + 2vw);
  --background: #35363b;
  --background-fade: hsl(228, 5%, 25%);
  --text: #f6e8ea;
  --primary: #82c995;
  --pink: #ef5d60;
  --purple: #ae6b9c;
}

html {
  color-scheme: light dark;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #f6e8ea;
    --text: #35363b;
  }
} */

*:focus-visible {
  outline: 2px solid var(--pink);
}

.app {
  min-height: 100vh;
  min-height: 100dvh;
}

button {
  appearance: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
}

.header {
  height: var(--header-height);
  padding: calc(var(--header-height) * 0.2);
}

.logo-wrapper {
  height: 100%;
}

img {
  height: 100%;
}

main {
  margin: 20px min(50px, 5vw);
}

.search-results {
  width: 100%;
  margin: 16px;
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.search-results--item {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  padding: 16px;
  font-size: 0.8rem;
  font-weight: 300;
  height: fit-content;
  container: search / inline-size;
}

@container search (min-width: 0px){
  .search-results--item-contents {
    height: 125cqw;
  }
}

.search-results--item:hover {
  background-color: var(--background-fade);
}

.search-results--item-name {
  font-weight: 400;
  font-size: 1rem;
}

.release-date {
  position: relative;
  width: fit-content;
}

.release-date:hover .rest {
  display: block;
}

.release-date .rest {
  display: none;
  position: absolute;
  left: calc(100% + 0.3em);
  top: 0;
  width: max-content;
  font-size: 0.7rem;
}

.search-results--image-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 8px;
}

.search-results--item img {
  width: 100%;
  height: auto;
}

.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  padding: 8px;
  border-radius: 50vw;
}

.search-form:hover {
  background-color: var(--background-fade);
}

.search-form--contents {
  width: 100%;
  /* border-bottom: 2px solid var(--primary); */
  display: flex;
  position: relative;
}

.search-form--contents::before,
.search-form--contents::after {
  content: '';
  position: absolute;
  pointer-events: none;
  height: 2px;
  top: 100%;
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 50vw;
}

.search-form--contents::before {
  width: 95%;
  background-color: var(--primary);
}

.search-form--contents::after {
  background-color: var(--text);
  width: 0;
  transition: 0.5s;
}

.search-form--contents:has(.search:focus):after {
  width: 95%;
}

.search {
  flex-grow: 1;
  text-align: center;
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--text);
  /* border-radius: 50vw 0 0 50vw; */
  height: 2rem;
  text-indent: 8px;
}

.search:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
   width: 100%;
}

